.error {
    background-color: rgba(229, 142, 149, 0.8);
    border-radius: 25px;
    border: 2px solid #e58e95;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.text {
    color: black;
    padding: 0.5rem;
    opacity: 1;
    text-align: center;
}